<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.coop.module.mapper.AudioTrailerMapper">

    <resultMap id="baseMap" type="com.dz.coop.module.model.AudioTrailer">
        <result column="book_id" property="bookId"/>
        <result column="trailer_id" property="trailerId"/>
        <result column="brief" property="brief"/>
        <result column="url" property="url"/>
        <result column="last_update_time" property="lastUtime"/>
    </resultMap>

    <select id="getAudioTrailerByBooIds" resultMap="baseMap">
		SELECT * FROM b_book_audio_trailer WHERE book_id IN (${bookIds});
	</select>

    <insert id="insertAudioTrailer" parameterType="com.dz.coop.module.model.AudioTrailer">
        INSERT INTO b_book_audio_trailer(book_id, trailer_id, brief, url, last_update_time, ctime)
        VALUES (#{bookId}, #{trailerId}, #{brief}, #{url}, #{lastUtime}, NOW())
        ON DUPLICATE KEY UPDATE brief = #{brief}, url = #{url}, last_update_time = #{lastUtime}, utime = NOW()
    </insert>

</mapper>